<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="w3-bar w3-blue w3-border w3-card-4">
    <a routerLink="/" class="w3-bar-item w3-button w3-mobile" routerLinkActive="w3-green" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-home"></i>Home</a>
    <a [routerLink]="['/users']" class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green">Users</a>
    <a [routerLink]='serverUrl' class="w3-bar-item w3-button w3-mobile"  routerLinkActive="w3-green">Servers</a>    
  </div>
  
 <router-outlet></router-outlet>
 <br><br>
 <hr>
 <button class="w3-button w3-red" (click)="onclick()">Goto Servers</button>
